body {
    font-family: 'Segoe UI';
    background: linear-gradient(180deg, #0f172a, #020617);
    color: white;
    margin: 0;
    padding: 10px;
    }

.container {
    max-width: 1100px;
    margin: auto;
}

/* FIX H1 */
h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(90deg,#38bdf8,#22c55e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.auth-box {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

.add-form {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #1e293b;
    color: white;
}

button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #22c55e;
    color: white;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 10px;
    background: #1e293b;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    }

th {
    background: #334155;
}

/* MOBILE */
@media(max-width:600px){
    h1 { font-size: 18px; }
    .add-form{grid-template-columns:1fr;}
    table{display:block;overflow-x:auto;}
}